<h3>Coupon Form</h3> 

<%= form_for(@coupon) do |f|%>
 <p><%= f.label :coupon_code %>
  <%= f.text_field :coupon_code %></p>

 <p> <%= f.label :store %>
  <%= f.text_field :store %></p>

  
  <%= f.submit "Submit Coupon"%>
<% end %>

